body {
    font-family: 'Raleway', sans-serif;
    padding-top: 2%;
    padding-right: 10%;
    padding-left: 10%;
}

a {
    color: #1F774B;
}

h1 {
    font-size: 28px;
    padding-top: 2%;
    font-family: 'Poppins', sans-serif;
 }

 h2 {
     font-size: 18px;
     font-family: 'Poppins', sans-serif;
 }

 h3 {
     color: #2A915D;
     font-size: 38px;
     padding-top: 2%;
     font-family: 'Poppins', sans-serif;
  }

img {
    max-width: 100%;
    max-height:100%;
}

li {
    padding: 5px;
    padding-right: 10px;
}

.section {
    background-color: #D8E5DE;
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
}

.section a{
    color: #115332;
}

.section-plain {
    border: 1px solid #7CBC9C;
    background-color: #FFFFFF;
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
}

img.icon {
  max-height: 300px;
  max-width: 100px;
}

img.sketch {
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

img.story {
    max-width: 1200px;
    max-height: 5000px;
}

img.persona {
    padding: 10px;
    max-width: 500px:
}

.row-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  flex: 50%;
}

.column-proto {
    flex: 2 1;
}

.guide2{
    width: 95%;
    padding-left: 15%;
    padding-right: 15%;
}

.guide {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}


@media (max-width: 900px){
    .row{
        flex-wrap: wrap;
    }

}